{% extends "layout.html" %}

{% block css_files %}    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block page_title %} Anasayfa {% endblock  %}



{% block content %}
<div class="container-mt3">
    <div class="row">
        <div class="col-3">
            {% include 'courses/partials/_categories.html' %}
        </div>
        <div class="col-9">
            <h1>Anasayfa</h1>
        </div>
    </div>
</div>
{% endblock%}
